<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container py-3 px-0">
    <div class="d-flex align-items-center">
      <a class="" style="background-color: #cfd4ed; width: 110px; height: 45px"></a>
      <img src="/img/fi_menu.png" alt="" style="margin-left: 100px; width: 24px; height: 24px" />
    </div>
    <div class="d-flex align-items-center">
      <form class="d-flex" role="search">
        <div style="padding: 6px 12px; border: 1px solid #d0d0d0; border-radius: 2px">
          <img src="/img/fi_search.png" alt="search" style="width: 18px; height: 18px" />
          <input class="border-0" type="search" placeholder="Search" aria-label="Search" name="search" style="background-color: transparent" />
        </div>
        <button class="fw-bold" type="submit" style="border-color: #0d28a6; color: #0d28a6; border-radius: 2px; font-size: 14px; padding: 0 12px">Search</button>
      </form>
      <img src="/img/profil.png" alt="profil" style="margin-left: 20px; width: 38px; height: 38px" />
      <div style="margin-left: 10px">Unis Badri</div>
      <img src="/img/fi_chevron-down.png" alt="arrow" style="margin-left: 10px; width: 24px; height: 24px" />
    </div>
  </div>
</nav>
