<div class="pt-4" style="background-color: white; height: 42rem">
  <ul class="list-unstyled text-decoration-none mt-3">
    <li style="padding: 11px 24px">
      <a href="" class="text-decoration-none" style="font-size: 14px; color: #8a8a8a">CARS</a>
    </li>
    <li class="mt-4" style="background-color: #cfd4ed; padding: 11px 24px">
      <a href="" class="text-decoration-none fw-bold" style="font-size: 14px; color: #151515">List Car</a>
    </li>
  </ul>
</div>
