<div class="d-flex mt-5" style="font-size: 12px">
  <p class="fw-bold">Cars</p>
  <img class="ms-1" src="/img/chevron-right.png" alt="right arrow" style="width: 16px; height: 16px" />
  <p class="fw-bold">List Car</p>
  <img class="ms-1" src="/img/chevron-right.png" alt="right arrow" style="width: 16px; height: 16px" />
  <p>Add New Car</p>
</div>
<div class="mt-2">
  <H2 class="fw-bold" style="font-size: 20px">Add New Car</H2>
</div>
<div class="mt-4" style="font-size: 12px">
  <form method="post" action="/cars/add-new-car">
    <div class="card" style="width: 100%">
      <div class="card-body">
        <div class="mb-2 row d-flex align-items-center">
          <div class="col-2">
            <label for="name" class="form-label" style="color: #8a8a8a">Nama<span style="color: #fa2c5a">*</span></label>
          </div>
          <div class="col-4">
            <div class="d-flex" style="padding: 6px 12px; border: 1px solid #d0d0d0; border-radius: 2px; opacity: 70%; font-size: 12px">
              <input class="border-0" type="text" class="form-control" name="name" id="name" placeholder="Avanza" />
            </div>
          </div>
        </div>
        <div class="mb-2 row d-flex align-items-center">
          <div class="col-2">
            <label for="price" class="form-label" style="color: #8a8a8a">Sewa Per Hari<span style="color: #fa2c5a">*</span></label>
          </div>
          <div class="col-4">
            <div class="d-flex" style="padding: 6px 12px; border: 1px solid #d0d0d0; border-radius: 2px; opacity: 70%; font-size: 12px">
              <input class="border-0" type="text" name="price" id="price" placeholder="Rp 0.-" />
            </div>
          </div>
        </div>
        <div class="mb-2 row d-flex align-items-center">
          <div class="col-2">
            <label for="size" class="form-label" style="color: #8a8a8a">Ukuran*</label>
          </div>
          <div class="col-4">
            <div class="d-flex" style="padding: 6px 12px; padding-right: 2px; border: 1px solid #d0d0d0; border-radius: 2px; opacity: 50%">
              <select id="size" name="size" class="form-select border-0 px-0" style="background-color: transparent; font-size: 13px">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-2 row d-flex align-items-center">
          <div class="col-2">
            <label for="photo" class="form-label" style="color: #8a8a8a">Foto<span style="color: #fa2c5a">*</span></label>
          </div>
          <div class="col-4">
            <div class="d-flex" style="padding: 6px 12px; border: 1px solid #d0d0d0; border-radius: 2px; opacity: 70%; font-size: 12px">
              <input class="border-0 me-auto" type="url" name="photo" id="photo" placeholder="https://placeimg.com/640/480/any" style="background-color: transparent" aria-describedby="photo" />
              <img src="/img/fi_upload.png" alt="upload icon" style="width: 18px; height: 18px" />
            </div>
            <div id="photo" class="form-text" style="font-size: 10px; color: #8a8a8a">File size max. 2MB</div>
          </div>
        </div>
      </div>
    </div>
    <div style="position: relative; height: 33vh">
      <a href="/cars" class="text-decoration-none fw-bold" style="position: absolute; bottom: 0; color: #0d28a6; background-color: #ffffff; border: 1px solid #0d28a6; border-radius: 2px; padding: 8px 12px">Cancel</a>
      <button type="submit" style="position: absolute; bottom: 0; left: 90px; background-color: #0d28a6; color: #ffffff; border-radius: 2px; padding: 8px 12px">Save</button>
    </div>
  </form>
</div>
